@import "tailwindcss";

:root {
  --background: #f7f7f7;
  --foreground: #111111;

  --primary: #fa8072;
  --primary-hover: #cd5c5c;
  --secondary: #ff7f50;
  --tertiary: #111111;
  --border-base: #d1d5db;
  --bg-white: #ffffff;
  --bg-blue: #2874a6;
  --bg-gray: #d7dbdd;
  --bg-gray-light: #f8f8f8;
  --bg-green: #17a589;
  --bg-red: #e74c3c;
  --text-base: #ffffff;
  --text-light: #6b7280;
  --danger: #de3163;
  --success: #117a65;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
